.header {
    position: absolute;
    top: 49px;
    left: 450px;
    width: 1000px;
    height: 40px;
  }
  .dashboard2 {
    font-size: x-large;
  }
  .search,
  .search-icon {
    display: flex;
    position: absolute;
    font-weight: 700;
    top: 4px;
    left: 15px;
    color: #c7c3c3d4;
    align-items: center;
  }
  .search-icon {
    top: 9px;
    left: 153px;
    width: 12.71px;
    height: 12px;
  }
  .mask-group-icon,
  .search-bar {
    position: absolute;
    top: 0;
    height: 30px;
    background-color: white;
  }
  .search-bar {
    left: 713px;
    width: 180px;
    border-radius: 20px;
    cursor: pointer;
   
  }
  .mask-group-icon {
    left: 970px;
    width: 30px;
    object-fit: cover;
  }
  .vector-icon6 {
    position: absolute;
    height: 66.67%;
    width: 1.8%;
    top: 16.67%;
    right: 5.9%;
    bottom: 16.67%;
    left: 92.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
  }